# ============================

# Sistema operativo

# ============================

.DS_Store
Thumbs.db
Desktop.ini

# ============================

# Visual Studio Code

# ============================

.vscode/

# ============================

# JetBrains IDEs

# ============================

.idea/

# ============================

# Archivos temporales

# ============================

*.tmp
*.temp
*.log

# ============================

# Python (solo para desarrollo local)

# ============================

**pycache**/
*.pyc

# ============================

# Servidores locales

# ============================

.env
.env.local
